@model ProjetoIntegradorADS.Models.Car

@{
    ViewData["Title"] = "Create";
}


<h4>Carros</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarId" />

            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CodigoCarro" class="control-label"></label>
                    <input asp-for="CodigoCarro" class="form-control" />
                    <span asp-validation-for="CodigoCarro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Kilometragem" class="control-label"></label>
                <input asp-for="Kilometragem" class="form-control" />
                <span asp-validation-for="Kilometragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor" class="control-label"></label>
                <input asp-for="Vendedor" class="form-control" />
                <span asp-validation-for="Vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caracteristica" class="control-label"></label>
                <input asp-for="Caracteristica" class="form-control" />
                <span asp-validation-for="Caracteristica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Enviar" class="btn btn-primary btn-block" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Voltar para a listagem</a>
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
