@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">UNIVALI 2020 HOW IV</h1>
    <p></p>
    <h1 class="display-4">Lucas Eduardo da Silva</h1>
    <h1 class="display-4">Pamela da Luz</h1>
    <h1 class="display-4">Andrieli Massarolo</h1>
    <h1 class="display-4">Marcos Rosa</h1>
    <h1 class="display-4">Aléxia S. S. L. M. Campos de Oliveira</h1>

    <p></p>
    <p></p>
    <p></p>


    <p>Copyright <a href="https://github.com/lucaseduardodasilva">GitHub - Lucas</a>.</p>
    <p>Copyright <a href="https://github.com/alexiacampos">GitHub - Aléxia</a>.</p>
    <p></p>
    <p>Mais informações <a href="https://ead.univali.br/bolsas?utm_feeditemid=,utm_device=c,utm_term=%2Bunivali,utm_source=google,utm_medium=ppc,utm_campaign={utmcampaign},hsa_cam=11096179574,hsa_grp=106792118337,hsa_mt=b,hsa_src=g,hsa_ad=466227015495,hsa_acc={3998769388},hsa_net=adwords,hsa_kw=%2Bunivali,hsa_tgt=aud-591480120705:kwd-304477034128&utm_term=%2Bunivali&utm_campaign=%5BS%5D+Institucional+-+Hardsell&utm_source=adwords&utm_medium=ppc&hsa_acc=3998769388&hsa_cam=11096179574&hsa_grp=106792118337&hsa_ad=466227015495&hsa_src=g&hsa_tgt=aud-591480120705:kwd-304477034128&hsa_kw=%2Bunivali&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAwf39BRCCARIsALXWETzjeb1X38-tdLxYCOFEguxt1svgsR0olSPVY8C9TDAyTVP4AcpS6HYaAtvSEALw_wcB">EAD UNIVALI</a>.</p>
    <p></p>
    <p>LinkedIn <a href="https://www.linkedin.com/in/lucas-eduardo-da-silva/">Lucas Eduardo da Silva</a>.</p>
    <p>LinkedIn <a href="https://www.linkedin.com/in/al%C3%A9xia-oliveira-83644a1aa/">Aléxia S. S. L. M. Campos de Oliveira</a>.</p>
</div>







